#skills{
    width:250px;
    padding:1px;
    border: 1px solid #eee;
    box-shadow: 5px 5px 5px #ccc;
    margin-left:30px;
    text-align: center;
    box-sizing:border-box;
    float:left;
    margin:20px;
    margin-left:20px;
    height:200px;
    background-color:whitesmoke;
    animation: skillanimation 1s ease-out forwards;
}
#skillDiv{
    margin-left:150px;
    margin-top:120px;
}
@keyframes skillanimation {
    0% {
        opacity: 0;
        transform: translateX(-200%);
    }
    50% {
        opacity: 0.5;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@media screen and (max-width:700px)
{
    #skillDiv{
        margin-left:40px;
    }
}